<div class="flex items-center gap-4">
  <label
    for="steamid"
    class="text-2xl text-primary-dark font-semibold"
  >SteamID</label>
  <input
    id="steamid"
    type="text"
    placeholder="SteamID"
    class="bg-primary-dark rounded-md focus:outline-none border border-header-dark focus:border-accent-dark focus:ring-1 focus:ring-header-dark px-2 py-2"
  />
  <button
    type="button"
    class="bg-header-dark text-primary-dark border border-header-dark hover:text-accent-dark hover:border-accent-dark transition-colors duration-200 rounded-md px-4 py-2"
  >Find User</button>
</div>