<div class="w-full py-3 bg-header-dark">
  <header class="flex justify-between max-w-7xl mx-auto">
    <LinkTo @route="index">
      <h1 class="text-3xl font-semibold text-accent-dark">SoulsTracker</h1>
    </LinkTo>
    <button
      {{on "click" this.changeMode}}
      type="button"
      class="text-primary-dark"
    >
      {{#if this.darkMode}}
        Dark
      {{else}}
        Light
      {{/if}}
    </button>
  </header>
</div>