{{#if @user}}
  <div data-test-user-info class="flex flex-row gap-4">
    <img
      src={{@user.avatarmedium}}
      alt="avatar"
      width="96"
      class="border-2 border-accent-dark rounded-md"
    />
    <div class="flex flex-col items-start justify-between">
      <h1 class="text-5xl text-primary-dark">{{@user.personaname}}</h1>
      <a
        href="{{concat 'https://steamcommunity.com/profiles/' @user.steamid}}"
        class="text-xl ml-1.5 text-accent-dark"
        target="_blank"
        rel="external nofollow noopener noreferrer"
      >View profile</a>
    </div>
  </div>
{{/if}}