<div class="flex flex-row gap-2 items-center">
  <img
    src="https://avatars.akamai.steamstatic.com/3ea5c1a79dbebd35ad9e5e5ca7ca4db8b3107cac_full.jpg"
    alt="Achievement Icon"
    width="64"
  />
  <div class="flex flex-col w-full">
    <h1 class="text-2xl text-primary-dark leading-none">{{@achievement}}</h1>
    <p class="text-secondary-dark">Light bonfire flame.</p>

    <div class="flex flex-row justify-between">
      <div class="flex">
        <p class="text-secondary-dark">Achieved on:&nbsp;</p>
        <p class="text-accent-dark">Aug 14, 2024</p>
      </div>
      <div class="flex">
        <p class="text-secondary-dark">Rarity:&nbsp;</p>
        <p class="text-accent-dark">73.6%</p>
      </div>
    </div>
  </div>
</div>