{{#if @bosses}}
  <div
    data-test-bosses
    class="flex flex-col bg-header-dark rounded-md drop-shadow-md px-4 py-2 gap-2"
  >
    <h1 class="text-4xl text-primary-dark">Bosses</h1>
    <div class="flex flex-col mb-8 gap-2">
      <div class="flex flex-row">
        <p data-test-next-boss class="text-3xl text-secondary-dark">Next Boss:</p>
        <p class="text-3xl text-accent-dark">&nbsp;Chaos Witch Quelaag</p>
      </div>
      <div class="flex flex-row">
        <p data-test-recent-boss class="text-3xl text-secondary-dark">Recent
          Boss:</p>
        <p class="text-3xl text-accent-dark">&nbsp;Bell Gargoyles</p>
      </div>
    </div>
  </div>
{{/if}}