<div class="flex flex-col lg:flex-row px-3 gap-4">
  <div class="flex flex-col w-full gap-4">
    <Stats::Playtime @playtime={{@stats.playtime}} />
    <Stats::Bosses @bosses={{@stats.bosses}} />
  </div>
  <Stats::Achievements @achievements={{@stats.achievements}} />
</div>