<div class="flex flex-col gap-4">
  <UserInfo />
  <div class="flex flex-row gap-4">
    <div class="flex flex-col gap-4">
      <Stats::Playtime />
      <Stats::Bosses />
    </div>
    <Stats::Achievements />
  </div>
</div>