<div class="flex flex-col max-w-6xl mx-auto text-center gap-8">
  <h1 class="text-5xl text-primary-dark">Enter a user's
    <span class="text-accent-dark">SteamID</span>
    to find their profile. Then, select a game from the
    <span class="text-accent-dark">Games</span>
    drop-down to view the user's stats.</h1>
</div>