<div
  data-test-playtime
  class="flex flex-col bg-header-dark rounded-md drop-shadow-md px-4 py-2 gap-2"
>
  <h1 class="text-4xl text-primary-dark">Playtime</h1>
  <div class="mb-8">
    <div class="flex flex-row items-baseline">
      <p class="text-3xl text-accent-dark">{{@playtime.playtime_forever}}</p>
      <p data-test-lifetime class="text-2xl md:text-3xl text-secondary-dark">&nbsp;hours
        played (lifetime)</p>
    </div>
    <div class="flex flex-row items-baseline">
      <p class="text-3xl text-accent-dark">{{@playtime.playtime_2weeks}}</p>
      <p data-test-2weeks class="text-2xl md:text-3xl text-secondary-dark">&nbsp;hours
        played (two weeks)</p>
    </div>
  </div>
</div>